<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post Id : <%= post.id %></p>
    <p>Username : @<%= post.username %></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <textarea rows="8" cols="40"><%= post.content %></textarea>
            <button>Submit</button>
    </form>
</body>
</html>